.home {
  padding: 20px;
}

nav {
  white-space: nowrap;
  text-align: center;
}

nav a, ul {
  display: inline-block;
}

nav ul li {
  display: inline;
  list-style: none;
  padding: 0 20px;
}

a {
  color: grey;
  font-size: x-large;
  font-family: monospace;
  text-decoration: none;
  background:linear-gradient(180deg, transparent 60%, lightblue 60%);
}


a:hover {
  background:linear-gradient(180deg, transparent 20%, lightblue 60%);
}


/* Styling for postal lookup page */

form {
  margin: 0 auto;
  padding: 5px 5px;
  border: 2px lightgrey solid;
  border-radius: 10px;
  width: fit-content;
}

form * {
  border: none;
  margin: auto;
}

button {
  background-color: white;
}