body {
  background-color:white;
}

/* #ddf8f4 */
.home {
  padding: 20px;
}

nav {
  white-space: nowrap;
  text-align: center;
}

nav a, nav ul {
  display: inline-block;
}

nav ul li {
  display: inline;
  list-style: none;
  padding: 0 20px;
}

a {
  color: #10477A;
  font-size: x-large;
  font-family: monospace;
  text-decoration: none;
  background:linear-gradient(180deg, rgba(255,255,255,0) 50%, #ffdb9f 0%);
}


a:hover {
  background:linear-gradient(180deg, transparent 20%, lightblue 60%);
}

.loading, .error-msg, .no-results {
  font-family: monospace;
  color:#10477A;
  text-align: center;
  font-size: x-large;
  padding-top: 20vh;
}

.error-msg {
  padding: 30px 0;
}

/* Styling the home page */

h1 {
  text-align: center; 
}

.homepage-title {
  font-family: 'Courier New', Courier, monospace;
  color: #FF4F4F;
}

.homepage-options {
  display: inline-flex;
  width: 100vw;
  height: fit-content;
  min-width: 717px;
}

.searchId-form {
  margin-left: 20vw;
  padding: 10px;
  height: fit-content;
  border: #10477A 2px solid;
  border-radius: 30px;
  background-color: #FFD8CB;
}

.searchId-form:hover {
  border:#FF4F4F 2px solid;
}

.searchId-input {
  border: none;
  background-color: #FFD8CB;
  width: 20vw;
}


.searchId-input:focus {
  outline: none;
}

.searchId-submit-btn {
  border: none;
  background-color: #FFD8CB;
}

.searchId-clear-btn {
  color:#10477A;
  border: none;
  background-color: #C2EEFF;
  padding: 5px;
  border-radius: 10px;
  height: fit-content;
  margin: auto 0px auto 5px;
}

.add-post {
  color:#10477A;
  border: 2px solid #FFD8CB;
  border-radius: 20px;
  background: linear-gradient(#FFD8CB, #F9D29D);
  padding: 10px;
  height: fit-content;
  margin: auto;
}

.add-post:hover {
  border: #10477A 2px solid;
}

.post-title  {
  font-family:monospace;
  color: #7c574b;
  min-height: 10vh;
  vertical-align: center;
}


.post-body {
  color: black;
  min-height: 15vh;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
}

.post-list li {
  display: block;
  position: relative;
  list-style: none;
  border:#FFD8CB 2px solid;
  margin: 15px;
  width: 20vw;
  min-width: 250px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background: linear-gradient(#FFD8CB, #F9D29D);
}

.post-id {
  float: right;
  padding: 2px 10px;
  border-radius: 20px;
  background:#10477A;
  color: white;
}


.edit-btn, .delete-btn {
  color:#FF4F4F;
  background-color: #ffffff;
  padding: 7px;
  margin: 5px;
  border: none;
  border-radius: 10px;
}


.edit-btn:hover {
  background-color: #C2EEFF;
  color: black;
}

.delete-btn:hover {
  background-color: #FF4F4F;
  color: white;
}


.edit-form {
  display: block;
}

.edit-form * {
  padding: 5px;
}

.edit-form label{
  display: block;
}

.close-down-btn {
  color: #FF4F4F;
  float: right;
  background-color: #FFD8CB;
  border: none;
}

.close-down-btn:hover {
  color:#ffffff;
}

.modal {
  top: 20vh;
  border: #FFD8CB 2px solid;
  background: linear-gradient(#FFD8CB, #F9D29D);
  width: 60vw;
  height: fit-content;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
}

.modal h2 {
  font-family: monospace;
}

.modal label, .new-post-input {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.new-post-label, .new-post-input {
  display: block;
  padding: 10px 0px;
}

.add-post-btn, .close-btn {
  padding: 7px;
  margin: 20px 0px;
  border-radius: 15px;
}

.add-post-btn:hover, .close-btn:hover {
  background-color: #10477A;
  border: 2px solid grey;
  color: white;
}


/* Styling for universities page */

.p-title {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.select-list {
  margin: auto;
}

select {
  height: 34px;
  border: 2px solid #10477A;
  display: block;
  margin: auto;
  text-align: center;
}

.uni-info {
  border: 2px solid #10477A;
  background: linear-gradient( #b6fbff, #83a4d4);
  width: 70vw;
  margin: 10px auto;
  padding: 10px;
}

.uni-name {
  font-family: monospace;
}

.uni-location {
  display: flex;
}

.uni-location p {
  padding-right: 5px;
}

/* Styling for postal lookup page */

.zipCode-form {
  height: 34px;
  margin: 40px auto;
  padding: 4px 4px;
  border: 2px solid #10477A;
  width: fit-content;
}

.zipCode-form * {
  height: inherit;
  border: 0;
  margin: auto;
}

.submit-button {
  background-color: #C2EEFF;
  color: #10477A;
  height: inherit;
}

.zipcode-input:focus {
  outline: none;
}

.submit-button:active {
  background-color: #FF4F4F;
}

.fa-magnifying-glass {
  color: #FF4F4F;
  padding: 4px;
}

.zip-info {
  
  padding: 20px;
  text-align: center;
}

table {
  border: 2px solid #10477A;
  border-radius: 5px;
  margin: auto;
}

th {
  background-color: #ffdb9f;
}

td {
  min-width: fit-content;
  background-color: #C2EEFF;
}

th, td {
  padding: 10px;
}