
.home {
  padding: 20px;
}

nav {
  white-space: nowrap;
  text-align: center;
}

nav a, nav ul {
  display: inline-block;
}

nav ul li {
  display: inline;
  list-style: none;
  padding: 0 20px;
}

a {
  color: #10477A;
  font-size: x-large;
  font-family: monospace;
  text-decoration: none;
  background:linear-gradient(180deg, rgba(255,255,255,0) 50%, #ffdb9f 0%);
}


a:hover {
  background:linear-gradient(180deg, transparent 20%, lightblue 60%);
}

/* Styling the home page */

h1 {
  text-align: center;
  
}

.post-title  {
  font-family:monospace;
  color: grey;
}

.post-body {
  color: grey;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-list li {
  list-style: none;
  border: #10477A 2px solid;
  margin: 5px;
  width: 25vw;
  padding: 10px 20px;
  background-color: white;
  border-radius: 7px;
}

.edit-btn, .delete-btn {
  padding: 5px;
  margin: 5px;
  border: 2px solid #10477A;
}

.edit-btn:hover {
  background-color: #ffdb9f;
  color: black;
}

.delete-btn:hover {
  background-color: #FF4F4F;
  color: white;
}


/* Styling for universities page */

.p-title {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.select-list {
  margin: auto;
}

select {
  height: 34px;
  border: 2px solid #10477A;
  display: block;
  margin: auto;
  text-align: center;
}

.uni-info {
  border: 2px solid #10477A;
  width: 70vw;
  margin: 10px auto;
  padding: 10px;
}


/* Styling for universities page */

.p-title {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.select-list {
  margin: auto;
}

select {
  height: 34px;
  border: 2px solid #10477A;
  display: block;
  margin: auto;
  text-align: center;
}

.uni-info {
  border: 2px solid #10477A;
  width: 70vw;
  margin: 10px auto;
  padding: 10px;
}

.uni-location {
  display: flex;
}

.uni-location p {
  padding-right: 5px;
}

/* Styling for postal lookup page */

form {
  height: 34px;
  margin: 40px auto;
  padding: 4px 4px;
  border: 2px solid #10477A;
  width: fit-content;
}

form * {
  height: inherit;
  border: 0;
  margin: auto;
}

button {
  background-color: #C2EEFF;
  color: #10477A;
  height: inherit;
}

.zipcode-input:focus {
  outline: none;
}

.submit-button:active {
  background-color: #FF4F4F;
}
i {
  color: #FF4F4F;
  padding: 4px;
}

.zip-info {
  
  padding: 20px;
  text-align: center;
}

table {
  border: 2px solid #10477A;
  border-radius: 5px;
  margin: auto;
}

th {
  background-color: #ffdb9f;
}

td {
  min-width: fit-content;
  background-color: #C2EEFF;
}

th, td {
  padding: 10px;
}